.card {
  width: 270px;
  text-align: center;
  box-shadow: 0 0 17px ;
  padding: 20px;
  background-color: rgb(230, 226, 226);
  gap: 10px;
  border-radius:  0 40px  0 40px;
}
.card img{
    border-radius: 20px ;
}
#title {
  margin: 10px 0px;
  color: rgb(5, 75, 5);
}
.card p {
  margin-bottom: 7px;
}
.card button {
  padding: 5px 20px;
  margin-right: 5px;
  border-radius: 5px;
  font-weight:bold;
  font-size:13px;
}
button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cart{
    background-color:coral;
}
.cart:hover{
    background-color: rgb(255, 47, 0);
    cursor: pointer;
}
.detailbtn{
    background-color: rgb(238, 192, 137);
    color: blue;
}
.detailbtn:hover{
  background-color:rgb(255, 187, 0);
  color:blue;
}
.imageclass{
  cursor: pointer;
}

#price{
  color: rgb(193, 0, 154);
  font-size: large;
}